/* Общие стили */
.row
{
    display: flex;
    flex-direction: row;
}
.col
{
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Bai Jamjuree", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

/* Стили для заголовка и навигации */
header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    user-select: none;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #ff9800;
}

/* Основной контент */
main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Адаптивность */
@media (max-width: 768px) {
    header nav {
        flex-direction: column;
        gap: 1rem;
    }

    main {
        padding: 1rem;
    }
}

/* Секция публикаций */
.publications-section {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Заголовок секции */
.section-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Список публикаций */
.publications-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Элемент списка */
.publication-item {
    padding: 1rem;
    margin-bottom: 1.5rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.publication-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

/* Заголовок и дата публикации */
.publication-header {
    display: flex;
    justify-content: space-between; /* Разделяет содержимое на противоположные стороны */
    align-items: center; /* Выравнивание по вертикали */
    margin-bottom: 0.5rem;
}

.publication-title {
    font-weight: bold;
    color: #444;
    font-size: 1.2rem;
}

.publication-date {
    font-size: 0.9rem;
    color: #888;
}

/* Описание публикации */
.publication-description {
    margin-bottom: 0.5rem;
    color: #555;
    line-height: 1.6;
}

/* Кнопка скачивания */
.publication-download {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.publication-download:hover {
    background-color: #0056b3;
}
.publication-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

/* Секция событий */
.events-section {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Заголовок секции */
.section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Список событий */
.events-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Элемент события */
.event-item {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Контейнер для контента события */
.event-content {
    width: 100%;
    align-self: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

/* Изображение события */
.event-image img {
    max-width: 150px;
    margin-right: 10px;
    border-radius: 8px;
    align-self: center;
}

/* Детали события */
.event-details {
    flex: 1;
}

.event-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.event-date {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 0.5rem;
}

.event-description {
    color: #555;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.event-place {
    font-weight: bold;
    color: #444;
}
/* Секция бесед */
.talks-section {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Заголовок секции */
.section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Список бесед */
.talks-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Элемент беседы */
.talk-item {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Контейнер для контента беседы */
.talk-content {
    width: 100%;
    align-self: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

/* Изображение беседы */
.talk-image img {
    max-width: 150px;
    margin-right: 10px;
    border-radius: 8px;
    align-self: center;
}

/* Детали беседы */
.talk-details {
    flex: 1;
}

.talk-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.talk-date {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 0.5rem;
}

.talk-description {
    color: #555;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.talk-place {
    font-weight: bold;
    color: #444;
}

/* Секция курсов */
.courses-section {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
}

/* Заголовок секции */
.section-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Список курсов */
.courses-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Элемент курса */
.course-item {
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Контейнер для контента курса */
.course-content {
    width: 100%;
    align-self: center;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

/* Изображение курса */
.course-image img {
    max-width: 150px;
    margin-right: 10px;
    border-radius: 8px;
    align-self: center;
}

/* Детали курса */
.course-details {
    flex: 1;
}

.course-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.course-date {
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 0.5rem;
}

.course-description {
    color: #555;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

.course-place {
    font-weight: bold;
    color: #444;
}
/* Секция контактов */
.contact-section {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 800px;
    text-align: center;
}

.section-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.contact-description {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

/* Список ссылок */
.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-item {
    margin-bottom: 1rem;
}

/* Ссылки */
.contact-link {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s;
}

.contact-link:hover {
    color: #0056b3;
}


/*------------HOMEPAGE*/
.homepage-wrapper
{
    width: 80%;
    display: flex;
    margin-left: 10%;
}

.welcome-block
{
    width: 100%;
    height: 600px;
    gap: 50px;
    justify-content: center;
    margin-top: 50px;
}
@media (max-width: 1024px) {
    .welcome-block {
        gap: 20px
    }
}
.homepage-col-2
{
    justify-content: space-between;
}

.homepage-right-text-block
{
    gap: 40px;
}
.homepage-text-1 h4
{
    font-size: 20px;
    overflow: scroll;
    height: 100%;
    width: 100%;
}

.homepage-content{
    display: flex;
    gap: 40px;
    justify-items: center;
}

.homepage-image-1 img{
    width: 400px;
    height: 100%;
    background-size: cover;
    border: solid 0 black;
    border-radius: 35px;
    flex-shrink: 0;
}
.homepage-image-2 {
    width: 100%;
    height: 50%
}
.homepage-image-2 img{
    width: 100%;
    height: 100%;
    background-size: cover;
    border: solid 0 black;
    border-radius: 35px;
    flex-shrink: 0;
}



/*BASE*/

.footer
{
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
    align-items: center;
    gap: 20px;
}
.footer-contact
{
    gap: 30px;
}
@media (max-width: 425px) {
    .footer-contact{
        flex-direction: column;
        gap: 20px;
        font-size: 13px;
        text-align: center;
    }

}
.footer-name
{
    font-weight: 700;
}