{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="contact-section">
    <h1 class="section-title">Contact</h1>
    <p class="contact-description">Explore my work and connect with me through the following platforms:</p>
    <ul class="contact-list">
        <li class="contact-item">
            <a href="https://github.com/allapetukhina" target="_blank" class="contact-link">GitHub</a>
        </li>
        <li class="contact-item">
            <a href="https://scholar.google.com/citations?user=XI0PS-EAAAAJ&hl=de&oi=ao" target="_blank" class="contact-link">Google Scholar</a>
        </li>
        <li class="contact-item">
            <a href="https://www.linkedin.com/in/alla-petukhina-8431a41b9/" target="_blank" class="contact-link">LinkedIn</a>
        </li>
        <li class="contact-item">
            <a href="https://www.researchgate.net/profile/Alla-Petukhina" target="_blank" class="contact-link">ResearchGate</a>
        </li>
        <li class="contact-item">
            <a href="https://quantlet.com" target="_blank" class="contact-link">Quantlet</a>
        </li>
    </ul>
</div>
{% endblock %}
